.bloco{
    background-color: rgb(180, 176, 176);
    color: black;
    padding: 4px;
}

.linha{
    margin: 1%;
    padding: 3px;
    align-items: center;
    text-align: center;
}

.album{
    width: 45px;
    align-items: center;
}

a{
    text-decoration: underline;
    color: black;
    display: inline-block;
}

.centro{
    text-align: center;
    font-family: fantasy;
}

#objetivo{
    text-align: center;
    background-color: rgb(180, 176, 176);
    color: black;
    padding: 4px;
}

#escolaridade{
    display: inline-block;
    margin: 5%; 
    padding: 2%;
    text-align: center;
    border: 1px black solid;
}

#habilidades{
    display:inline-block;
    text-align: center;
    margin: 5%;
    padding: 2%;
    border: 1px black solid;
}

#centralizar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2%;
}

#fotos{
    padding: 1.5%;
}